
.header{
  position: fixed;
  top: 30px;
  left: 0;
  height: 50px;
  padding: 10px;
  align-items: center;
  display: flex;
  margin-left: 50px;
}

@font-face {
    font-family: 'Allura';
    src: url('../assets/fonts/Allura-Regular.ttf') format('truetype');
  }

  .buttons {
    position: fixed;
    top: 10px;
    right: 0;
    padding: 10px;
    display: flex;
    margin-right: 70px;
  }

  h3.selected{
    background-color: #F8C7E1;
    padding: 10px;
    border-radius: 20px;
  }